<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.sushibait.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. СушиБайт</name>

    <description>
        СушиБайт - Доставка еды
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#F85C50" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/815224810754718e8ea39401d78778a2.png" density="ldpi" />
        <icon src="res/android/icon/e1420eee7253b6a4fd642f7127b62606.png" density="mdpi" />
        <icon src="res/android/icon/3c1cfdbc63c0f231e0d22c9ec91ad64d.png" density="hdpi" />
        <icon src="res/android/icon/e3f4d11a9c7fed6637059d8c3a1f5886.png" density="xhdpi" />
        <icon src="res/android/icon/5b9678a0ded36ea43861d9c79bf28f03.png" density="xxhdpi" />
        <icon src="res/android/icon/7a8c99ef262b71ad167528b320446cb1.png" density="xxxhdpi" />

        <splash src="res/android/screen/05d11475bf2bc3c9c80225e287eeed39.png" density="port-hdpi"/>
        <splash src="res/android/screen/c219bd170d44eea754735ca407102584.png" density="port-ldpi"/>
        <splash src="res/android/screen/04c9f4cf396de3aa74f775785564fd44.png" density="port-mdpi"/>
        <splash src="res/android/screen/964b39bd15526a54961210cde5e06a68.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/ab19fff62f8245fec05c0595a61a246c.png" width="180" height="180" />
        <icon src="res/ios/icon/fd0d661f7fca53c81e3054112e47368f.png" width="60" height="60" />
        <icon src="res/ios/icon/ff4e7ce9156679282d1d15b2e8061f97.png" width="120" height="120" />
        <icon src="res/ios/icon/72efbe85a9f4084d890cee85ea23b72b.png" width="76" height="76" />
        <icon src="res/ios/icon/01d87d3c2a60b53aed43d7773f8b3bbb.png" width="152" height="152" />
        <icon src="res/ios/icon/cd9e438211ca17b9173e3e5050f49d66.png" width="57" height="57" />
        <icon src="res/ios/icon/4c22fcac6996116d526442f129f1121e.png" width="114" height="114" />
        <icon src="res/ios/icon/6643a051fe7db11b410dd5ab3c0cc7c1.png" width="72" height="72" />
        <icon src="res/ios/icon/67a52495e1d444a7536efae2a265f5fa.png" width="144" height="144" />
        <icon src="res/ios/icon/8de31b3e3b439e7038a05e2dfeaf2cdb.png" width="167" height="167" />
        <icon src="res/ios/icon/fd3fb26007803354824364e5dc7d38bd.png" width="29" height="29" />
        <icon src="res/ios/icon/5dd06ae37e6163c049c81f6c59581e4f.png" width="58" height="58" />
        <icon src="res/ios/icon/ab63d6d421851177855fa68acc64db91.png" width="87" height="87" />
        <icon src="res/ios/icon/b6468eccd8ca419778760fba7877649b.png" width="167" height="167" />

        <splash src="res/ios/screen/c5e3929784aae0461f11c3de8636e0d5.png" />
        <splash src="res/ios/screen/00625fda32cb28d0825f11aa47179d1c.png" />
        <splash src="res/ios/screen/47fe47e565ce1f1e421398334136fe60.png" />
        <splash src="res/ios/screen/71081a07bddb359f4417d4f2f9266fd1.png" />
        <splash src="res/ios/screen/c00dc191837b43903390227c673f8e70.png" />
        <splash src="res/ios/screen/b1d43afdb4cb6dc0793a43d4ed1fbc91.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/f1b6d5ab00740fbf02b594a6394b601d.png" target="StoreLogo" />
        <icon src="res/windows/icon/c1c074a9c58fb44f9c2430f8fbf00bdb.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/ca584c1e305cbc8d956be4e053d855f0.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/85310c92a55750d301def96fe4eacf02.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/77677033843d5a1091b1c91d530e005a.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/655cedb9daea4a08eb5584505bad9596.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/32a0e7a72b3cae298245e002691065e2.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/a1337e4b5246c5d42c1ad5c54aaf1638.png" target="SplashScreen"/>
        <splash src="res/windows/screen/e2ffe95ee213a7dd81821329eb10bea8.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>